

body{
    margin: 0;
}

.limpiarEstilos::after {
    content: "";
    display: table;
    clear: both;
}

.derecha { float: right; }



.cabecero{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    background: url(fondo.png), #7b4397;
    background: url(fondo.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
    background: url(fondo.png), linear-gradient(to left, #7b4397, #dc2430)
}

.elementosCabecero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-bottom: 15px;
}
.elementosCabecero h2 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color: antiquewhite;
}
.elementosCabecero h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    color: antiquewhite;
}


.ingresosCabecero{
    display: flex;
    background-color: #28B9B5;
    height: 50px ;
    align-items: center;
    position: relative;
    gap: 100px;
    width: 100%;
    margin-bottom: 30px;
}

.egresosCabecero{
    display: flex;
    background-color: #FF5049;
    position: relative;
    height: 50px ;
    align-items: center;
    gap: 100px;
    width: 100%;
    
}


.entrada{
    height: 100px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.tablas{
    display: flex;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    gap: 200px;

}

.ingresos{
    width: 370px;
}
.egresos{
    width: 370px;
  
}

.ingresosTitulo h2,  .egresosTitulo h2{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    
}
.elemento {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}
.elemento:first-child { border-top: 1px solid #e7e7e7; }
.elemento:nth-child(even) { background-color: #f7f7f7; }
.elemento_descripcion {
    float: left;
}

.elemento_valor {
    float: left;
    transition: transform 0.3s;
}

.elemento_eliminar {
    float: left;
}

.elemento_eliminar--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}
.elemento_eliminar--btn:focus { outline: none; }
.elemento_eliminar--btn:active { transform: translateY(2px); }

.elemento:hover .elemento_eliminar--btn { display: block; }
.elemento:hover .elemento_valor { transform: translateX(-20px); }
.elemento:hover .elemento_porcentaje { transform: translateX(-20px); }








